/* colors */
/*al:    #00000000;*/
/*bg:    #141C21FF;*/
/*bg1:   #B0BEC5FF;*/
/*bg2:   #90A4AEFF;*/
/*bg3:   #78909CFF;*/
/*fg:    #FFFFFFFF;*/
* {
  al:    #00000000;
  bg:    #414b50;
  bg1:   #a7c080;
  bg2:   #83c092;
  bg3:   #7fbbb3;
  fg:    #d3c6aa;
}
