configuration {
    modi: "drun";
    show: "drun";
    /*dpi: 100;*/
    combi-modi: "drun";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    sidebar-mode: true;
}

/*@theme "everforest"*/
@theme "nord"
